<!-- <div [class.status]="currentStatus === 'online'"> -->
<div [class]="{
    status: true,
    'status-online': currentStatus() === 'online',
    'status-offline': currentStatus() === 'offline',
    'status-unknown': currentStatus() === 'unknown'
  }">
  <p>Servers are {{ currentStatus() }}</p>
  @if (currentStatus() === 'online') {
  <p>All systems are operational.</p>
  } @else if (currentStatus() === 'offline') {
  <p>Functionality should be restored soon.</p>
  } @else {
  <p>Fetching server status failed.</p>
  }
</div>